rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /artifacts/k-voting/public/data/evidences/{evidenceId} {
      allow read: if true;
      allow create: if request.resource.data.id == evidenceId
        && request.resource.data.title is string
        && request.resource.data.category is string
        && request.resource.data.passwordHash is string
        && request.resource.data.passwordHash.size() == 64;
      allow update: if true;
      allow delete: if true;
    }
  }
}
